<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>심야책방 - 글쓰기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/write.js"></script>
</head>

<body>
    <header>
        <a href="/">
            <h1>심야책방</h1>
            <p>영업시간 21:00 ~ 06:00</p>
        </a>
        <a class="button" href="/write">글쓰기</a>
    </header>

    <main>
        <h1>새 글</h1>

        <form class="stack-form">
            <input id="title" class="strong" type="text" maxlength="100" placeholder="제목" required>
            <textarea id="content" maxlength="5000" placeholder="본문" required></textarea>
            <p style="display: flex; flex-wrap: wrap;">
                <input id="password" type="password" minlength="4" maxlength="100" placeholder="비밀번호" required>
                <button type="submit" class="button">작성</button>
            </p>
        </form>
    </main>
</body>

</html>
